apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: concourse-pvc-PVC_ID
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 20Gi

