---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: concourse-{{ volume_name }}-pv
spec:
  capacity:
    storage: {{ storage_size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  awsElasticBlockStore:
    volumeID: {{ volume_id }}
    fsType: ext4

