apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: concourse-web-ingress
spec:
  rules:
  - host: "{{ HOSTNAME }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: concourse-web
            port:
              number: 8080
