---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: marklogic-web-virtualservice
  namespace: marklogic
spec:
  hosts:
  - "{{ HOSTNAME }}"
  gateways:
  - istio-ingress/concourse-web-gateway  # Use the same gateway
  http:
  - match:
    - uri:
        prefix: /marklogic
    route:
    - destination:
        host: marklogic.marklogic.svc.cluster.local
        port:
          number: 8001  # Assuming 8001 as the typical MarkLogic admin port. Adjust as needed.
