apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: concourse-pvc-PVC_ID
  namespace: default
  labels:
    app-volume: "concourse" # Label to match the selector in Concourse configuration
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp2 # Using the default provisioner for AWS
  resources:
    requests:
      storage: 20Gi

